@import './node_modules/sweetalert2/src/sweetalert2.scss';
$icon-font-path: 'node_modules/bootstrap-sass/assets/fonts/bootstrap/';
@import 'node_modules/bootstrap-sass/assets/stylesheets/bootstrap';

.search-box {
  background-color: #00B0FF;
  padding: 30px;

  &.row {
    margin-top: 0;
  }
}
.stylish-input-group {

  .input-group-addon{
    background: white !important;
  }
  .form-control {
    border-right:0;
    box-shadow:0 0 0;
    border-color:#ccc;
  }
  button{
    border:0;
    background:transparent;
  }
}

.clickable{
  cursor: pointer;
}

.panel-heading div {
  margin-top: -18px;
  font-size: 15px;

  span {
    margin-left:5px;
  }
}

.panel-body{
  display: none;
}

.row {
  margin-top: 20px;
}